@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'

@require './element.module.styl'

.button
  background primary-color
  border-radius: 5px
  border 0
  padding 10px 25px
  width: 100%
  color secondary-color

  +above('m')
    width: auto
