@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'

.element-container
  position: relative
  padding: 0 15px
  font-size: 12px

.element
  border-width: 1px

  &:required
    & + .after-form-element
      &::before
        content: '*'
        display: inline-block
        color: #000

  &:valid
    border-color: success-color
    background-color: light-success-color


  &:invalid
    border-color: alert-color
    background-color: light-alert-color
