@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'

@require './element.module.styl'

.element-container
  .label
    padding 10px

    .element
      margin-left 10px

  .element
    padding 10px
    width 100%
    border-radius: 5px

    &:required
      & + .after-form-element
        &::before
          position: absolute
          right: 5px
          margin-top: calc(.5em + 5px)

  .icon
    position: absolute
    top: 0
    margin-top: .5em
    right: 20px
    width: 30px
    height: 30px
