@require '../../themes/standard/config/colors'

.form-message
  padding: 10px
  border-radius: 5px
  color: #fff
  margin-top: 5px
  text-align: center
  font-size: 12px

  &.info
    background: #b1b1b1

  &.warn
    background: warning-color

  &.error
    background: alert-color
