@require '../../themes/standard/config/colors'

.form-message
  padding: 10px
  border-radius: 5px
  color: #fff
  margin-top: 5px
  text-align: center
  font-size: 12px

  +above('m')
    position: absolute
    z-index: 20
    top: -40px
    right: 15px

    &::after
      content: ''
      position absolute
      top: 100%
      right: 12px
      width: 0
      height: 0
      border-left: 5px solid transparent
      border-right: 5px solid transparent
      border-top: 5px solid #fff

  &.info
    background: #b1b1b1

    &::after
      border-top-color: #b1b1b1

  &.warn
    background: warning-color

    &::after
      border-top-color: warning-color

  &.error
    background: alert-color

    &::after
      border-top-color: alert-color
