@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'

:root
  --section-highlight-color highlight-color

.pricing-table-section
  margin 0 auto
  max-width 300px
  padding 15px
  background-color var(--section-highlight-color)
