@require '../themes/standard/config/breakpoints'
@require '../themes/standard/config/colors'
@require '../themes/standard/config/dimensions'
@require '../themes/standard/global/mixins'

:root
  --max-page-width max-page-width

ul, ol
  list-style-type none

.main-container
  margin: 0 auto
  max-width: var(--max-page-width)
