@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'

.testimonial-section
  padding: 15px

  blockquote
    margin: 15px auto
    font-size: 12px
    max-width: 400px
    text-align center
    &::before
      content: open-quote
    &::after
      content: close-quote

  .author-img
    text-align center

  .author
    text-align center
