@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'

.testimonial-section
  margin 0
  blockquote
    text-align center
    &::before
      content: open-quote
    &::after
      content: close-quote
  .author-img
    text-align center
  .author
    text-align center
