@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'

.forms-section
  .form-wrapper
    display grid
    grid-template-columns 50% 50%
    grid-template-areas \
      'leftcol .' \
      '. rightcol' \
      'firstcol sndcol' \
      'fullsize fullsize'

    .grid-item
      padding 5px

      [role="group"]
        border: 0
        margin: 0
        padding 1em 15px
        display: flex
        justify-content: space-between

      &.first-col
        grid-column 1 / span 2

        +above('m')
          grid-column 1 / span 1

      &.snd-col
        grid-column 1 / span 2

        +above('m')
          grid-column 2 / span 1

      &.fullsize
        grid-column 1 / span 2
