@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'

.hero-section
  background-color background-hero-color
  padding-top 250px
  padding-buttom 250px
  margin-bottom 50px
  line-height 2
  padding-top 250px
  padding-bottom 250px
  margin-bottom 50px
  max-width 100%
  margin-left auto
  margin-right auto
  padding-left 10%
  padding-right 20%
  font-size 1.25em


.button
  background-color primary-color
  display inline-block
  border-adius 3px
  font-size 1em
  font-weight 500
  padding .75em 1em

.text
  color text-button-color

  




