@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'

.hero-section
  display: flex
  align-items: center
  position relative
  width: 100vw
  height: 100vh
  color secondary-color
  padding: 20px

  +above('m')
    padding: 45px

  .background
    position absolute
    top 0
    right 0
    bottom 0
    left 0

  .info
    position relative
    max-width: 400px
    z-index 10

    h2 {
      font-size: 18px
      margin-bottom: 15px
    }

    p {
      font-size: 12px
    }

    .button
      background-color primary-color
      width: 100%
      max-width: 300px
      border: 0
      display inline-block
      border-radius 5px
      font-size: 12px
      padding 15px

      .text
        color secondary-color
