primary-color = rebeccapurple
secondary-color = #fff
highlight-color = #eee
callout-color = #990033
callout-button-color = #660022


link-color = primary-color
link-color-hover = primary-color
link-color-active = primary-color

warning-color = yellow
error-color = red

