primary-color = rebeccapurple
secondary-color = #fff
highlight-color = #eee

text-button-color = #ffffff
background-hero-color = #d8c6ec

link-color = primary-color
link-color-hover = primary-color
link-color-active = primary-color

warning-color = yellow
error-color = red

