checkable = {
  checkmark-color: #fff,
  background: #eee,
  hover-background: #ccc,
  checked-background: #2196f3,
  dimensions: 25px
}

checkbox = {
  checkmark-padding-top: 6px,
  checkmark-padding-left: 10px,
  checkmark-width: 6px,
  checkmark-height: 10px
}

radio = {
  bubble-dimensions: 9px,
  bubble-padding: 8px
}
