@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'
@require '../../themes/standard/global/container'

.team-member-section
  margin: 0

  .inner-container
    display: block

    .team-member
      padding: 20px 10px

      .img-container
        position: absolute

      .member-info
        display: block
        margin-top: 25px
        margin-left: 40%
        position: relative

        .member-name
          font-size: 20px
          font-weight: 700
          margin-bottom: 5px

        .member-position
          font-size: 16px
          font-weight: 300

      .member-bio
        font-size: 14px
        line-height: 26px
        margin-top: 20px

@media (min-width: 768px)

    .team-member
      width: 50%
      display: inline-block
      margin-bottom: 45px
      padding: 30px

      .member-info
        display: flex
        flex-direction: column
        margin-top: 25px
        margin-left: 30%

      .member-bio
        font-size: 14px
        line-height: 26px
        margin-top: 15px

@media (min-width: 1280px)
  .team-member-section
    .headline
      margin-left: 12%

    .inner-container
      .team-member
        .img-container

        .member-info
          margin-left: 28%
