@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'

.video-container
  margin: 0
  padding: 0
  width: 100%
  text-align: center;

  .inner-container
    padding: 0

    .overlay
      position: relative
      img
        width: 100px
        height: 100px
        position: absolute
        top: 50%
        left: 50%
        margin-left: calc(-100% / 2)
        margin-top: calc(-100% / 2)


    .video-element
      width: 100%
      height: auto
