@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'

.video-container
  position: relative
  margin: 0
  padding: 0
  width: 100%
  text-align: center;

  .inner-container
    padding: 0

    .overlay
      img
        position: absolute
        top: 50%
        left: 50%
        width: 50px
        height: 50px
        margin-left: calc(-50px / 2)
        margin-top: calc(-50px / 2)

        +above('m')
          width: 100px
          height: 100px
          margin-left: calc(-100px / 2)
          margin-top: calc(-100px / 2)



    .video-element
      width: 100%
      height: auto
