@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'

.video-container
  margin 0
  width: 100%
  height: 100%
  text-align: center;

  .inner-container
    padding: 0

    .video-element
      width: 100%
      height: 100%
