@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'
@require '../../themes/standard/config/dimensions'

.header-container
  background primary-color
  margin-bottom 1.45rem

  header
    margin 0 auto
    max-width max-page-width
    padding 1.45rem 1.0875rem
    display flex
    justify-content flex-end

    h1
      margin 0

      a
        color white
        text-decoration none
