checkable = {
  checkmark-color: #000,
  background: #fff,
  hover-background: #ccc,
  checked-background: #fff,
  dimensions: 20px
}

checkbox = {
  checkmark-padding-top: 6px,
  checkmark-padding-left: 10px,
  checkmark-width: 6px,
  checkmark-height: 10px
}

radio = {
  bubble-dimensions: 12px,
  bubble-padding: 3px
}
