@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'
@require '../../themes/standard/components/navigation'

:root
  --menu-bg-color secondary-color
  --menu-padding menu-padding

.nav-link
  cursor pointer
  text-rendering geometricPrecision

.menu
  display none
  z-index 100
  background var(--menu-bg-color)
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  padding var(--menu-padding)

  .nav-close
    position absolute
    top 10px
    right 10px

  &.open
    display flex

  &.horizontal-align-left
    justify-content flex-start

  &.horizontal-align-right
    justify-content flex-end

  &.horizontal-align-center
    justify-content center

  &.vertical-align-top
    align-items flex-start

  &.vertical-align-center
    align-items center

  &.vertical-align-bottom
    align-items flex-end

  a
    color link-color
