@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'

.slider
  width 100%
  overflow hidden
  position relative
  margin-bottom 50px
  .inner-container
    margin-bottom 0px

    .slider-items
      transition margin-left 0.5s

      .one-slider
        float left
        width 100%


    .slider-arrows
      position absolute
      top calc(50% - 10px)
      left 0
      right 0
      z-index 3

      & > [role="button"]
        cursor pointer
        position absolute
        width 20px

        &.arrow-left
          width: 40px
          left: -15px

          +above('m')
            width: 60px
            left: -20px

          +above('l')
            width: 80px
            left: -25px

        &.arrow-right
          width: 40px
          right: -15px

          +above('m')
            width: 60px
            right: -20px

          +above('l')
            width: 80px
            right: -25px
