primary-color = #3c3c3c
secondary-color = #f1f1f1
highlight-color = #eee
alert-color = #e9426c
success-color = #e9426c

link-color = secondary-color
link-color-hover = secondary-color
link-color-active = secondary-color

warning-color = yellow
error-color = red
