primary-color = #3c3c3c
secondary-color = #f1f1f1
highlight-color = #eee
alert-color = #e9426c
light-alert-color = #ffebf0
success-color = #e9426c
light-success-color = #e6f0e6
warning-color = #ffa03c
light-warning-color = #fff5eb

link-color = secondary-color
link-color-hover = secondary-color
link-color-active = secondary-color
