primary-color = #3c3c3c
secondary-color = #f1f1f1
highlight-color = #eee
callout-color = #990033
callout-button-color = #660022

text-button-color = #ffffff
background-hero-color = #d8c6ec

link-color = secondary-color
link-color-hover = secondary-color
link-color-active = secondary-color

warning-color = yellow
error-color = red
