@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'
@require '../../themes/standard/global/container'

.team-member-section
  margin 0

  .inner-container
    display flex
    justify-content space-between
