@require '../themes/standard/config/breakpoints'
@require '../themes/standard/config/colors'
@require '../themes/standard/config/dimensions'
@require '../themes/standard/global/normalize'
@require '../themes/standard/global/mixins'

:root
  --max-page-width max-page-width

.main-container
  margin: 0 auto
  max-width: var(--max-page-width)
  padding: 0px 1.0875rem 1.45rem
