@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'

.footer-container
  footer
    text-align: center
    background: primary-color
    padding: 1.45rem 1.0875rem
    color: secondary-color

    .brand
      font-size: 18px
      margin-bottom: 10px

    .copyright
      font-size: 12px
