@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'
@require '../../themes/standard/components/navigation'

:root
  --menu-bg-color: primary-color
  --menu-link-color: link-color
  --menu-padding: menu-padding

.nav-link, .nav-close
  cursor: pointer
  text-rendering: geometricPrecision
  color: var(--menu-link-color)
  background-color: primary-color
  border: none
  .menu-icon
    background: primary-color
    width: 64px
    height: 70px
    position: absolute
    top: 0
    right: 10px
    padding: 24px
    color: var(--menu-link-color)


.menu
  display: none
  z-index: 100
  background: var(--menu-bg-color)
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  padding: var(--menu-padding)

  &.open
    display: flex

  &.horizontal-align-left
    justify-content: flex-start

  &.horizontal-align-right
    justify-content: flex-end

  &.horizontal-align-center
    justify-content: center

  &.vertical-align-top
    align-items: flex-start

  &.vertical-align-center
    align-items: center

  &.vertical-align-bottom
    align-items: flex-end

  a
    color: var(--menu-link-color)
    text-decoration: none

    &:hover,
    &.active
      text-decoration: underline
