@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'



.callout-section
  padding-top 25px
  padding-right 25px
  padding-bottom 25px
  padding-left 25px
  margin-top 50px
  margin-bottom 50px
  background-color callout-color
  max-width 100%

.message
  color secondary-color
  line-height 2em
  margin 0
  padding 0

.button
  background-color callout-button-color
  padding .625em
  border-radius 3px
  display inline-block
  float right

.text
    color secondary-color
