@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'



.callout-section
  text-align: center
  padding-top: 25px
  padding-right: 25px
  padding-bottom: 25px
  padding-left: 25px
  margin: 50px 30px
  background-color: alert-color
  max-width: 100%
  border-radius: 8px


.message
  font-size: 20px
  color: secondary-color
  line-height: 1.2em
  margin-bottom: 5px
  padding: 0

.button
  background-color: alert-color
  font-size: 20px
  border: none

  .button-link
    color: secondary-color
    font-weight: 700

.text
    color: secondary-color
