@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'

.footer-container
  footer
    text-align right
    background primary-color
    padding 1.45rem 1.0875rem
    color secondary-color

    .copyright
      font-size 12px
