@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'



.slide
  transition 0.5s

.slider
  width 100%
  overflow hidden

.slider-arrows
  position absolute
  width 100%
  z-index 3

.slider-arrows > .arrow
  margin-top 300px

.slider-arrows a
  cursor pointer
  display block
  opacity 0.8


.slider-arrows > .arrow-right
  right 0


.inner-container
  margin-bottom 30px
  display flex
