@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'

.slider
  width 100%
  overflow hidden
  position relative

  .slider-arrows
    position absolute
    top 40%
    left 0
    right 0
    z-index 3

    & > [role="button"]
      cursor pointer
      opacity 0.8
      position absolute

      &.arrow-right
        right 0

  .inner-container
    margin-bottom 30px

    .slider-items
      transition margin-left 0.5s

      .one-slider
        float left
        width 100%