@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'

.slider-section
  margin 0

.one-slide
  display flex
  align-items center
  justify-content center
  background-size cover
  height 500px
