@require '../../themes/standard/components/checkable.styl'

:root
  --checkmark-color: checkable.checkmark-color
  --background-color: checkable.background
  --hover-background-color: checkable.hover-background
  --checked-background-color: checkable.checked-background
  --width: checkable.dimensions
  --height: checkable.dimensions

.label
  position relative

  &:hover
    .element
      & ~ .checkmark
        background var(--hover-background-color)

  .element
    position absolute
    opacity 0
    cursor pointer
    height 0
    width 0

    &:checked
      & ~ .checkmark
        background var(--checked-background-color)

        &::after
          display block

  .checkmark
    position absolute
    top 0
    left 0
    height var(--height)
    width var(--width)
    background-color var(--background-color)

    &::after
      content ""
      position absolute
      display none
