@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'

@require './element.module.styl'
@require './checkbox-radiobutton.module.styl'

.label
  .checkmark
    &::after
      left 9px
      top 5px
      width 5px
      height 10px
      border solid white
      border-width 0 3px 3px 0
      transform rotate(45deg)
