.label
  position relative

  &:hover
    .element
      & ~ .checkmark
        background #ccc

  .element
    position absolute
    opacity 0
    cursor pointer
    height 0
    width 0

    &:checked
      & ~ .checkmark
        background #2196F3

        &::after
          display block

  .checkmark
    position absolute
    top 0
    left 0
    height 25px
    width 25px
    background-color #eee

    &::after
      content ""
      position absolute
      display none
