@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'

.label
  padding 10px

  .element
    margin-left 10px

.element
  padding 10px
  width 100%

  &.auto-width
    width auto

    &:required
      width auto

  &:required
    width 95%

    & + .after-form-element
      &::before
        content '*'
        display inline-block
        width 5%
        color red

  &:valid
    border-color: green

  &:invalid
    border-color: red
