@require '../../themes/standard/config/breakpoints'
@require '../../themes/standard/config/colors'

.call-to-action-section
  margin: 0

.button
  display: block
  border-radius: 4px
  background-color: primary-color
  text-align: center
  font-size: 14px
  font-weight: 600
  padding: 15px
  width: 87%
  margin-top: 20px
  margin-bottom: 20px
  margin-left: auto
  margin-right: auto
  border-radius: 8px

.button span
  display: inline-block
  position: relative
  transition: 0.5s
  color: secondary-color

.button span:after
  content: '\00bb'
  position: absolute
  opacity: 0
  top: 0
  right: -20px
  transition: 0.5s

.button:hover span
  padding-right: 25px

.button:hover span:after
  opacity: 1
  right: 0
